html {
  margin: 0px; }

body {
  background-color: #eaf0ea;
  color: #606060;
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  line-height: 1.5;
  display: block;
  text-align: center; }

a {
  color: #0080cc;
  text-decoration: none; }
  a:visited {
    color: #0090cc; }
  a:hover {
    color: #00b000;
    text-decoration: underline; }
  a.button {
    background-color: #33aa33;
    padding: 2px 20px 4px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    font-size: 16pt; }
    a.button:hover {
      background-color: #00c000;
      text-decoration: none; }
    a.button:active {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }
  a.minibutton {
    background-color: #bbbbaa;
    padding: 2px 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: white;
    font-size: 0.9em;
    margin: 0; }
    a.minibutton:hover {
      background-color: #ddddcc;
      text-decoration: none; }

p {
  margin: 1em 0; }

ul {
  list-style: disc;
  margin-left: 2em;
  line-height: 1.5em; }

ol {
  margin-left: 2em;
  line-height: 1.5em; }

b {
  font-weight: bold; }

h1, .h1 {
  font-weight: bold;
  font-size: 80pt;
  text-shadow: 0px 1px 0px white;
  visibility: hidden; }

.tk-league-gothic {
  visibility: hidden; }

.wf-active h1, .wf-active .tk-league-gothic {
  visibility: visible; }

h2, .h2 {
  font-weight: bold;
  font-size: 26pt;
  text-shadow: 0px 1px 0px white;
  padding-bottom: 0.5em; }

h3, .h3 {
  font-weight: bold;
  font-size: 18pt;
  text-shadow: 0px 1px 0px white;
  padding-bottom: 0.5em; }

h4, .h4 {
  font-weight: bold;
  font-size: 14pt; }

input[type="text"], input[type="password"] {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  padding: 2px; }

textarea {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  padding: 2px; }

input[type="submit"] {
  font-size: 9pt; }
input[type="file"] {
  font-size: 9pt;
  color: #a0a0a0; }
input.big_input {
  font-size: 16pt;
  margin: 8px 0px; }
input.huge_input {
  font-size: 32pt;
  margin: 0px 0px 30px 0px;
  padding-left: 0.2em; }

.quote {
  font-size: 16pt;
  font-style: italic;
  color: gray;
  padding: 1em 2em; }

.small {
  font-size: 0.8em;
  color: #888888; }

.centered {
  text-align: center; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.clear {
  clear: both; }

.justify {
  text-align: justify; }

.hide {
  display: none; }

.rounded {
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.container {
  text-align: left;
  margin: 1em auto; }

#top {
  background-color: #bbddcc;
  margin: 0px;
  padding: 1px 0px 5px 0px;
  text-transform: uppercase;
  z-index: 200; }
  #top a {
    color: gray; }
    #top a:hover {
      color: #444444;
      text-decoration: none; }
  #top .tally {
    font-size: 1.35em;
    color: gray; }
  #top ul.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block; }

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  z-index: 100; }

ul.nav {
  display: table; }
ul.nav > li {
  display: table-cell;
  position: relative;
  float: left;
  padding: 8px;
  padding-left: 0px;
  font-size: 36px;
  margin-right: 30px; }
ul.nav li > ul {
  display: none;
  position: absolute;
  background-color: #bbddcc;
  left: 0px;
  top: 1.2em;
  padding: 4px 10px;
  z-index: 3;
  white-space: nowrap;
  font-size: 0.8em; }
ul.nav li:hover > ul {
  display: block; }
ul.tabs {
  display: table;
  border-bottom: 1px solid #bbddcc;
  margin-left: 0px;
  width: 100%; }
ul.tabs > li {
  display: table-cell;
  position: relative;
  float: left;
  padding: 4px 8px;
  font-size: 20px;
  margin-right: 15px;
  background-color: #cceedd;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }
  ul.tabs > li.active {
    background-color: #bbddcc; }
  ul.tabs > li a:hover {
    text-decoration: none; }
  ul.tabs > li:hover {
    background-color: #bbddcc; }

.tax {
  background-color: #cceedd;
  margin-bottom: 10px;
  padding: 4px 8px; }
  .tax p {
    margin: 0.5em 0; }
  .tax .button {
    float: right;
    margin: 10px; }
  .tax .number {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #eeffee;
    font-size: 1.8em;
    color: #668866;
    padding: 2px 4px;
    margin-left: 5px; }

.inactive {
  background-color: #e8e8e8; }

.comments {
  margin: 1em 0 0 0;
  background-color: #eff6f0;
  padding: 0.5em 1em;
  font-size: 0.9em; }

.comment {
  margin: 0.5em 0 1em 0; }
  .comment .close {
    display: none; }
  .comment:hover .close {
    display: block; }

#folded_comments {
  display: none; }
