#lovetax_widget { 
  width: 400px;
  background-color: rgba(255, 245, 250, 0.8);
  border: 6px solid #ddd; 
  padding: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  font-size: 18px;
  display: none;
  }
#lovetax_widget p { font-size: 12px; }
#lovetax_widget .button { }