.minitile
  = link_to image_tag(user.picture_url(:size => 32), :class => 'icon float_left', :title => user.name), user, :style => 'border: none;'
  %h4
    = link_to user.name, user
    - if promotion_links
      %span.role_action
        - unless @tax.managers.include?(user)
          - if @tax.trustees.include?(user)
            - role = @tax.trustee_roles.where(user_id: user.id).first
            = link_to "Remove Trustee", tax_role_path(@tax.id, role.id), method: :delete
          - else
            = link_to "Make Trustee", tax_roles_path(role: {tax_id: @tax.id, user_id: user.id, kind: 3}), method: :post