.grid_4{:class => (user_counter % 2 == 0) ? 'alpha' : 'omega'}
  .user_tile
    = image_tag user.picture_url, :class => 'icon'
    %h4= link_to user.name, user
    - if false and user.url
      .small= link_to user.url, user.url
    - if user.bio
      .small= user.bio