%p
  Love,
  %br/
  Team LOVELAND
  %br/
  (also check out #{link_to 'inchernet.com', 'http://inchernet.com'} and #{link_to 'livinginthemap.us', 'http://livinginthemap.us'}!)

%p "The nation should have a tax system that looks like someone designed it on purpose." - William Simon
