%h3 Markdown Guide
#markdown_sidebar
  :plain
    # First Level Header
    ## Second Level Header
    ### Third Level Header
    
    *Emphasis*
    **Strong emphasis**

    An [example link](http://example.com/).
    
    Lists:
    * Item one
    * Item two
    
    Images:
    ![alt text](http://example.com/path/to/img.jpg)

  %p= link_to 'Full syntax guide', 'http://daringfireball.net/projects/markdown/syntax'