    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    <div class='float_left'>
      <a name="fb_share" type="button" share_url="<%= defined?(url) ? url : 'http://lovetax.us' %>">Share</a>         
    </div>
    <div class='float_left' style='padding: 4px 10px;'>
      <a style='padding-top: 20px;' href="http://twitter.com/share?url=<%= defined?(url) ? url : 'http://lovetax.us' %>&text=<%= defined?(text) ? text : '' %>" class="twitter-share-button">Tweet</a>
    </div>
