- @no12 = true

.container_12.container
  .grid_4
    = image_tag 'seal.png'
  .grid_8{:style => 'padding-top: 20px;'}
    %h3{:style => 'color: rgb(119, 42, 80);'}
      INCREASING AWESOMENESS IN THE WORLD BY EXPERIMENTING WITH NEW, COMMUNITY-DRIVEN WAYS TO INCUBATE,
      FUND, AND PROMOTE AWESOME INDIVIDUALS AND THEIR PROJECTS.

%br/
%br/
.container_12.container
  .grid_6
    = render :partial => 'shared/tax', :collection => @left
  .grid_6
    = render :partial => 'shared/tax', :collection => @right
        

  