!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=iso-8859-1"}

  %body
    %p
      The credit card belonging to #{@user.name} was declined. We've notified the user and made the pledge inactive

    = render :partial => 'shared/email_sig'
