!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=iso-8859-1"}
    
  %body
    %p
      Hi,
      = link_to @comment.user.name, user_url(:id => @comment.user.id, :only_path => false)
      left a comment on your tax, #{link_to @comment.tax.name, tax_url(:id => @comment.tax.id, :only_path => false)}:
    
    %p{:style => 'margin: 2em 0'}
      "#{@comment.body}"

    = render :partial => 'shared/email_sig'
        
    
