!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=iso-8859-1"}

  %body
    %p
      Yikes, it looks like your credit card was declined. Your pledge is now inactive, please return to http://awesometax.awesomestudies.org to start the pledge again.

    = render :partial => 'shared/email_sig'
