!!!
%html
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=iso-8859-1"}

  %body
    %p
      Congratulations,
      = link_to @pledge.user.name, user_url(:id => @pledge.user.id, :only_path => false)
      signed up to pay your monthly tax, #{link_to @pledge.tax.name, tax_url(:id => @pledge.tax.id, :only_path => false)}.
      To see the details including all taxpayers and cashflow, refer to #{link_to 'its page', tax_url(:id => @pledge.tax.id, :only_path => false)}.

    %p
      Don't forget to invite your friends, family, fans, and total strangers to contribute to your taxes and others you love.
      If you get stuck or have feedback, email us at contact@awesomefoundation.org any time.

    = render :partial => 'shared/email_sig'

