.grid_12
  %h2
    = link_to @tax.name, @tax
  %table
    %thead
      %tr
        %th Date
        %th Amount
    %tbody
      - @sorted.each do |x, y|
        %tr{:style => 'border-top: 1px dotted #aaa;'}
          %td= x.strftime('%d-%m-%y')
          %td= number_to_currency(y.inject(0){|sum,t| sum + t.amount })