- @no12 = true

.container.container_12
  .grid_6
    %h2 Chapters
    - @taxes.each do |t|
      %div{:style => 'width: 450px; padding-bottom: 2em;'}
        = render :partial => 'shared/tax', :object => t

  .grid_6
    %br/
    %br/
    %h3 Start a Chapter
    %p
      This will be invite-only, but for testing you can #{link_to 'start a chapter', new_tax_path}.