html { margin: 0px; padding-top: 80px; }

body {
  background-color: #ffffff;
  color: #606060;
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  line-height: 1.5;
  display: block;
  }

a {
  color: #F33486;
  text-decoration: none;
  border-bottom: 1px dotted #F33486;
  }
  a:visited {
    color: #F33486; }
  a:hover {
    color: #F355a0;
    text-decoration: none; }

p {
  margin: 1em 0; }

ul, ol, li { font-size: 13px; }

h1, .h1 {
  font-weight: bold;
  font-size: 40pt;
  text-transform: uppercase;
  }

.wf-active h1, .wf-active { visibility: visible; }

h2, .h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 26pt;
  /*text-shadow: 0px 1px 0px white;*/
  padding-bottom: 0.5em; }

h3, .h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18pt;
  padding-bottom: 0.5em; }

h4, .h4 {
  font-weight: bold;
  font-size: 14pt; }

input[type="text"], input[type="password"] {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  padding: 2px; }

textarea {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 10pt;
  padding: 2px; }

.help-block {
  color: #999;
  text-align: left;
}

input[type="submit"] {
  font-size: 9pt; }
input[type="file"] {
  font-size: 9pt;
  color: #a0a0a0;
  background-color: #efeaea;
  margin-bottom: 0.5em;
  }
input.big_input {
  font-size: 16pt;
  margin: 8px 0px; }
input.huge_input {
  font-size: 36px;
  margin: 0px 0px 30px 0px;
  padding-left: 0.2em; height: 45px; }

.quote {
  font-size: 16pt;
  font-style: italic;
  color: gray;
  padding: 1em 2em; }

.small {
  font-size: 0.8em;
  color: #888888; }

.centered {
  text-align: center; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.clear {
  clear: both; }

.justify {
  text-align: justify; }

.hide {
  display: none; }

.rounded {
  padding: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.callout {
  background-color: rgba(255, 250, 252, 0.9);
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
  }

.topbar-inner { padding-top: 10px; background-image: none; }
.topbar .h3 { text-transform: uppercase; margin-right: 2em; color: #fff; font-weight: bold; }
.topbar a { border-bottom: none; font-size: 15px; }
.topbar .h3 a { color: white; font-size: 18pt; }
.topbar .nav .active > a { border-bottom: 3px solid #FF4B7E; background-color: #222; padding-bottom: 6px; }
.dropdown-menu.foundation { min-width: 230px; }

.dropdown.open a:focus{
  outline: none;
}

.tax { border: 1px solid #333; }
.tax .headline { background-color: #333; }
.tax .headline { padding: 0px 1em; }
.tax .body { padding: 1em; }
.tax h4 a {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px; border: none; }
.tax h4 a:hover { border-bottom: 1px dotted white; }
a.btn, a.btn:visited { color: #222; }

.notification h4 {
  color: #F33486;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.inactive {
  background-color: #e8e8e8; }

.comments {
  margin: 0;
  background-color: white;
  padding: 0.5em 1em;
  font-size: 0.9em; }

.comment {
  margin: 0.5em 0 1em 0; }
  .comment .close {
    display: none; }
  .comment:hover .close {
    display: block; }

#folded_comments { display: none; }

input[type=email] { padding: 2px; }
#user_edit input[type=text],
#user_edit input[type=email],
#user_edit input[type=password] { width: 300px; }
.input-prepend .add-on { padding: 2px; }

#markdown_sidebar { white-space: pre-line; font-family: monospace; font-size: 11px; }

.stats h3, .stats h4 { line-height: 25px; }
.user { margin-bottom: 1em; }

.icon { margin-right: 8px; vertical-align: top; border: 1px solid #ccc }
.user_tile { background-color: white; border: 1px solid #eee; padding: 1em; height: 90px; margin-bottom: 1em; overflow: hidden; }
.user_tile .icon { float: left; width: 80px; height: 80px; margin-right: 12px; }
.minitile h4 { margin-top: 0px; }
.comment .icon { float: left; width: 32px; height: 32px; }
.profile .icon { margin-right: 1em; }
.profile h2 { padding-bottom: 0.25em; }
.profile .links { font-weight: bold; }
a img { border-width: 0px; }

#error_explanation {
  h2 {
    font-size: 20px;
    color: red;
  }

  li {
    list-style-type: none;
    font-size: 20px;
  }
}