.role_action {
  font-size: 12px;
}

.role_action a {
  border-bottom: none;
}

#user_search_form {


  #user_search_field {
    outline: 0;
    width: 250px;
    font-size: 18px;
    padding: 5px;

    &:active {
      outline: none;
    }
  }

  // don't show the 'status' returned by search
  .ui-helper-hidden-accessible { display:none; }

}

.ui-autocomplete {
  .ui-menu-item {
    width: 250px;
    background: white;
    list-style-type: none;
    border: 1px solid #000;
    border-top: 0px;
    font-size: 18px;
    padding: 5px;

    &:hover {
      background-color: rgba(235, 231, 252, 0.9);
    }

    a {
      border-bottom: 0px;
    }

  }

}